<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Entry & exit details</h4>

                <table class="table">
                    <caption>Entry & exit details</caption>
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let entryExit of entryExitList | orderEntyExit">
                            <td>{{ entryExit.description }}</td>
                            <td>{{ entryExit.amount | currency }}</td>
                            <td [class.text-success]="entryExit.type === 'entry'"
                                [class.text-danger]="entryExit.type === 'exit'">
                                {{ entryExit.type }}
                            </td>
                            <td>
                                <button class="btn btn-danger" (click)="deleteEntryExit(entryExit.uid)">
                                    <i class="fa fa-trash"></i>
                                    Delete
                                </button>

                            </td>
                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>