<div *ngFor="let cardData of cardDataList; let index = index;">
    <div *ngIf="index % 2 === 0" class="d-flex flex-column flex-sm-column flex-md-row flex-lg-row flex-xl-row">
        <div *ngIf="index < cardDataList.length" class="flex-fill p-3">
            <div class="card card-statistics">
                <div class="card-body">

                    <div class="clearfix">
                        <div class="float-left">
                            <i [class]="getIconFromType(cardDataList[index].type)"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">{{cardDataList[index].title | titlecase}}</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">{{cardDataList[index].income |
                                    currency}}</h3>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>{{cardDataList[index].growth}}
                    </p>
                </div>
            </div>
        </div>

        <div *ngIf="index + 1 < cardDataList.length" class="flex-fill p-3">
            <div class="card card-statistics">
                <div class="card-body">

                    <div class="clearfix">
                        <div class="float-left">
                            <i [class]="getIconFromType(cardDataList[index + 1].type)"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">{{cardDataList[index + 1].title | titlecase}}</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">{{cardDataList[index + 1].income | currency}}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>{{cardDataList[index + 1].growth}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>